.App {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes mainTitle {
    from {
      color: red;
    }
    to {
      color: white;
    }
    to {
      color: blue;
    }
  }
  @keyframes each {
    from {
      color: purple;
    }
    to {
      color: blue;
    }
    to {
      color: goldenrod;
    }
  }
  @keyframes subt {
    from {
      color: red;
    }
    to {
      color: yellow;
    }
    to {
      color: green;
    }
  }
  @keyframes bkgrdc {
    from {
      background-color: lightcyan;
    }
    to {
      background-color: darkslateblue;
    }
    to {
      background-color: white;
    }
  }

  .login {
      width: 600px;
      height: 300px;
      border: 6px solid lightblue;
      border-radius: 12px;
  }

  .inputChange {
      padding-left: 10px;
      padding-right: 10px;
  }
  body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    animation-name: bkgrdc;
    animation-duration: 25s;
  }
  h1 {
    color: crimson;
    text-align: center;
    animation-name: mainTitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .container {
    text-align: center;
  }

  .basic {
      color: white;
  }

  .eachl {
    color: cornflowerblue;
    animation-name: each;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .subttt {
    color: aqua;
    animation-name: subt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .subttt {
    color: aqua;
    animation-name: subt;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  .ssm {
    color: aqua;
    font-size: medium;
    animation-name: subt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  /* .chat .messages {
      flex: 90%;
      width: 100%;
  }

  .chat .inputs {
    flex: 90%;
    width: 100%;
  } */

  .chat {
    width: 600px;
    height: 350px;
    border: 5px solid #0091ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .chat .messages {
    flex: 80%;
    width: 100%;
    padding-left: 20px;
  }
  
  .chat .inputs {
    flex: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .chat .inputs input{
    flex: 80%;
    height: calc(100% -5px);
    border: none;
    border-top: 5px solid #0091ff;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .chat .inputs button{
    flex: 20%;
    height: 100%;
    background-color: #0091ff;
    border: none;
    color: white;
    font-size: 18px;
  }
  
  .eachMessage {
      width: 300px;
      height: auto;
      background-color: #0091ff;
      color: white;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }